build/
out/
dist/

.vs/
.vscode/

CMakeUserPresets.json
CMakeCache.txt
cmake_install.cmake
compile_commands.json

.local-tools/

settings.cfg
*.log

*.obj
*.o
*.a
*.lib
*.dll
*.exe
*.pdb
*.so
*.dylib

assets/generated/*
!assets/generated/.gitkeep
